<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.winframework.mapper.FaultInfoMapper">


    <select id="selectFaultInfo" resultMap="FaultInfoResultMap">
        select * from TEXC_FaultInfo WHERE  FaultType=#{faultType}
    </select>

    <select id="selectByFaultTypeFaultInfo" resultType="java.lang.String">
          select DISTINCT(FaultType) from TEXC_FaultInfo
    </select>




    <resultMap id="FaultInfoResultMap" type="com.winframework.entity.FaultInfo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <id column="FaultCode" property="faultCode" jdbcType="VARCHAR"/>
        <id column="FaultType" property="faultType" jdbcType="VARCHAR"/>
        <id column="FaultName" property="faultName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>


