<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winframework.mapper.ProductInfoMapper">

    <select id="selectProductInfo"  resultMap="ProductInfoResultMap">

SELECT
	*
FROM
	TEXC_ProductInfo
        WHERE 1=1
        <if test="factory != null and factory != ''">
            and
            Factory = #{factory}
        </if>
        <if test="proName != null and proName != ''">
            and
	       ProName LIKE '%${proName}%'
        </if>

        ORDER BY    ProName ASC
    </select>




    <resultMap id="ProductInfoResultMap" type="com.winframework.entity.ProductInfo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <id column="ProName" property="proName" jdbcType="VARCHAR"/>
        <id column="Material" property="material" jdbcType="VARCHAR"/>
        <id column="MouldCode" property="mouldCode" jdbcType="VARCHAR"/>
        <id column="StdCavityQty" property="stdCavityQty" jdbcType="INTEGER"/>
        <id column="CycleTime" property="cycleTime" jdbcType="INTEGER"/>
        <id column="FlowType" property="flowType" jdbcType="VARCHAR"/>
        <id column="Factory" property="factory" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>

