<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.winframework.mapper.ProductionRecordMapper">


    <insert id="addProductionRecord"   parameterType="com.winframework.entity.ProductionRecord">


          insert into TEXC_ProductionRecord (MachineCode,CollectMac,ProName,Material,MouldCode,StdCavityQty,UseCavityQty,CycleTime,UseCycleTime,FlowType,Qty,MQty,ProDate,Classes,DebugPerson,ProPerson,Operating,IsAuto,IsError,IsFinish,IsProing)
         VALUES (#{machineCode},#{collectMac},#{proName},#{material},#{mouldCode},#{stdCavityQty},#{useCavityQty},#{cycleTime},#{useCycleTime},#{flowType},#{qty},#{mQty},getdate(),#{classes},#{debugPerson},#{proPerson},#{operating},#{isAuto},#{isError},#{isFinish},#{isProing})
   </insert>


    <select id="selectProductionRecord" resultMap="ProductionRecordResultMap">

SELECT
	A.*,
	B.Factory
FROM
	[dbo].[TEXC_ProductionRecord] A
	INNER JOIN [dbo].[TEXC_MachineInfo] B ON A.MachineCode= B.MachineCode
WHERE
	B.Factory= #{factory}  and A.IsFinish =0  ORDER BY   MachineCode

  </select>

    <select id="selectWorkProductionRecord" resultMap="ProductionRecordResultMap">

 SELECT
	A.*,
	B.Factory
FROM
	[dbo].[TEXC_ProductionRecord] A
	INNER JOIN [dbo].[TEXC_MachineInfo] B ON A.MachineCode= B.MachineCode
WHERE IsFinish =0 and A.IsProing=1 AND B.Factory=#{factory}   ORDER BY   MachineCode

  </select>


    <select id="selectStayProductionRecord" resultMap="ProductionRecordResultMap">

   SELECT
	A.*,
	B.Factory
FROM
	[dbo].[TEXC_ProductionRecord] A
	INNER JOIN [dbo].[TEXC_MachineInfo] B ON A.MachineCode= B.MachineCode
WHERE A.IsFinish =0   and A.IsProing=0  AND  B.Factory= #{factory}  ORDER BY   MachineCode

  </select>

    <select id="selectByIdProductionRecord" resultMap="ProductionRecordResultMap">

       SELECT
	A.*,
	B.Factory
FROM
	[dbo].[TEXC_ProductionRecord] A
	INNER JOIN [dbo].[TEXC_MachineInfo] B ON A.MachineCode= B.MachineCode where     A.ID=#{id} and  B.Factory= #{factory}
    </select>
    <update id="updateProductionRecord" parameterType="com.winframework.entity.ProductionRecord">

        update TEXC_ProductionRecord set Operating=#{operating} , IsError=#{isError} , IsFinish=#{isFinish}  where    ID=#{id}

    </update>

    <update id="updateProductionRecordIsError">

           update TEXC_ProductionRecord set IsError=#{isError} where    ID=#{id}
    </update>

    <select id="countProductionRecord" resultType="java.lang.Long">

      select count(*)  from   TEXC_ProductionRecord  where MachineCode=#{machineCode} and IsFinish=0

    </select>

    <select id="selectByMachineCode" resultType="java.lang.Long">

      select  ID  from   TEXC_ProductionRecord  where MachineCode=#{machineCode} and IsFinish=0

    </select>


    <select id="selectByIdWorkProductionRecordCount" resultType="java.lang.Long">

    select count(*) from TEXC_ProductionRecord where IsFinish =0 and IsProing=1  and    MachineCode=#{machineCode}

  </select>


    <update id="updateByIdWorkIsProing">

           update TEXC_ProductionRecord set IsProing=1  where    ID=#{id}
    </update>
    <update id="endWorkProductionRecord">

           update TEXC_ProductionRecord set IsProing=0  where    ID=#{id}
    </update>




    <resultMap id="ProductionRecordResultMap" type="com.winframework.entity.ProductionRecord">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <id column="MachineCode" property="machineCode"/>
        <id column="CollectMac" property="collectMac" />
        <id column="ProName" property="proName" jdbcType="VARCHAR"/>
        <id column="Material" property="material" jdbcType="VARCHAR"/>
        <id column="MouldCode" property="mouldCode" jdbcType="VARCHAR"/>
        <id column="StdCavityQty" property="stdCavityQty" jdbcType="INTEGER"/>
        <id column="UseCavityQty" property="useCavityQty" jdbcType="INTEGER"/>
        <id column="CycleTime" property="cycleTime"  />
        <id column="CycleTime" property="cycleTime"  />
        <id column="UseCycleTime" property="useCycleTime"  />
        <id column="Qty" property="qty"/>
        <id column="MQty" property="mQty"/>
        <id column="ProDate" property="proDate" />
        <id column="Classes" property="classes"/>
        <id column="DebugPerson" property="debugPerson" />
        <id column="ProPerson" property="proPerson"/>
        <id column="Operating" property="operating" />
        <id column="IsAuto" property="isAuto"/>
        <id column="IsError" property="isError" />
        <id column="IsFinish" property="isFinish"/>
        <id column="IsProing" property="isProing"/>
        <id column="Factory" property="factory" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>


