<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.winframework.mapper.StaffMapper">




    <select id="selectStaff"  resultMap="StaffResultMap">
    SELECT
	*
FROM
	TEXC_Staff
    </select>



    <resultMap id="StaffResultMap" type="com.winframework.entity.Staff">
        <id column="Name" property="name" jdbcType="VARCHAR"/>
        <id column="JobNo" property="jobNo" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>


